<!doctype html>
<html>
<style>
form {
    margin: auto;
    width: 35%;
}

.result {
    margin: auto;
    width: 35%;
    border: 1px solid #ccc;
}
</style>

    <head>
        <title>DCSD</title>
    </head>

    <body>
        <h1 align="center">Disposable Circumcision Suture Device (DCSD) infection rate calculator</h1>
        <form action="/" method="POST">
            <fieldset>
                <legend>Input values:</legend>
                1. Age:
                <input name="Age" type="number" required>
                <br>
                <br>2. Height:
                <input name="Height" type="number" required>
                <br>
                <br>3. Weight:
                <input name="Weight" type="number" required>
                <br>
                <br>4. Penis_length:
                <input name="Penis_length" type="number" required>
                <br>
                <br>5. Phimosis_Grading:
                <input name="Phimosis_Grading" type="number" required>
                <br>
                <br>6. Pain_level_D0:
                <input name="Pain_level_D0" type="number" required>
                <br>
                <br>7. Pain_level_D1:
                <input name="Pain_level_D1" type="number" required>
                <br>
                <br>
                <input type="submit">
            </fieldset>
        </form>
        <br>
        <br>
        <div class="classification" align="center">
                <h2 style="color: red" align="center">The Result : {{ classification }}</h2>
                <h2 style="color: red" align="center">Postoperative Infection Rate : {{ probability }}</h2>
        </div>


        
        
        

    </body>
</html>